<% content_for :for_head do %>
  <%= stylesheet_link_tag "style-clean" %>
<% end %>
<% content_for :title,  @photo.title + " by " + @photo.user.full_name %>
<div class="wrapImgShow">
<div class="containerImg">

  <%= image_tag @photo.path.url %>
  
</div>
<div class="wrapimgInfos">
    <div class="containerImgInfos">

      <div class="col-md-6">
        
        <div class="infoTitle">

          <div class="photoFollowBtn">
            <img src="/assets/more.png" class="iconAction">
          </div>
          <div class="userPhotoPicture">
            <img src="<%= @photo.user.avatar.url(:face) %>">
          </div>
          <h2 class="photoUsername"><%= @photo.user.full_name %></h2>
          <h2><%= @photo.title %></h2>
        </div>
        <span class="photoDescription">
         <%= @photo.description %>
        </span>

        <% if user_signed_in? %>
        <div class="photoComments">
          <h2><%= @Comments.length %> Comments</h2>
          <ol>
            <% @Comments.each do |comment| %>
            <li class="comment">
              <a href="/<%= comment.user.profile_name %>"><img src="<%= comment.user.avatar.url(:face) %>"><%= comment.user.full_name %>
              </a>
              <div class="comment-body">
                <p><%= comment.body %></p>
                <p class="comment-meta">
                  <span><%= time_ago_in_words(comment.created_at) %></span>
                </p>
              </div>
            </li>
            <% end %>
            <div class="comment-form pull-left">
              <a href="#" class="pull-left"><img src="<%= current_user.avatar.url(:face) %>">
              </a>
               <textarea id="comment-new" rows="3" placeholder="Add a comment"></textarea>
               <p class="pull-right"><button class="btn btn-primary commentAdd">COMMENT</button> </p>
            </div>

          </ol>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12">

          <% if Like.exists? user_id: current_user, photo_id: @photo.id %>
            <div class="col-md-4 likes group-like-marked">
            <span><%= @likes %> Likes</span>
            </div>
          <% else %>
            <div class="col-md-4 likes group-like">
            <span><%= @photo.likes.count %> Likes</span>
            </div>
          <% end %>

          <% if Favorite.exists? user_id: current_user, photo_id: @photo.id %>
            <div class="col-md-4 favorites group-favorite-marked">
            <span><%= @photo.favorites.count %> Favorites</span>
            </div>
          <% else %>
            <div class="col-md-4 favorites group-favorite">
            <span><%= @photo.favorites.count %> Favorites</span>
            </div>
          <% end %>


          <div class="col-md-4 group-view">
          <span><%= @photo.views.count %> Views</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
$('body').on('click', '.group-favorite', function() {
  var photoId = '<%= @photo.id %>';
  $('.favorites').removeClass('group-favorite');
  $('.favorites').addClass('group-favorite-marked');
  $.ajax({
    url: Routes.profile_favorites_path('<%= current_user.profile_name %>', {photo_id: photoId}),
    method: "post",
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    },
    success: function(data) {
      $('.favorites span').html(data + ' Favorites')
    }

  });
});
</script>

<script>
$('body').on('click', '.group-favorite-marked', function() {
  var photoId = '<%= @photo.id %>';
  $('.favorites').removeClass('group-favorite-marked');
  $('.favorites').addClass('group-favorite');
  $.ajax({
    url: Routes.profile_favorites_path('<%= current_user.profile_name %>', {photo_id: photoId}),
    method: "post",
    data: {'_method': 'delete'},
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    },
    success: function(data) {
      $('.favorites span').html(data + ' Favorites')
    }

  });
});
</script>

<script>

$('body').on('click', '.group-like', function() {
  var photoId = '<%= @photo.slug %>';
   $('.likes').removeClass('group-like');
   $('.likes').addClass('group-like-marked');
  $.ajax({
    url: '../likes?photo_id=' + photoId,
    method: "post",
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    },
    success: function(data) {
      $('.likes span').html(data + ' Likes')
    }

  });
});

</script>

<script>

$('body').on('click', '.group-like-marked', function() {
  var photoId = '<%= @photo.slug %>';
   $('.likes').removeClass('group-like-marked');
   $('.likes').addClass('group-like');
  $.ajax({
    url: '../likes?photo_id=' + photoId,
    method: "post",
    data: {'_method': 'delete'},
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    },
    success: function(data) {
      $('.likes span').html(data + ' Likes')
    }

  });
});

</script>

<script>
$(document).ready(function(){
  var photo_id = <%= @photo.id %>;
  
  $('.commentAdd').click(function() {
    var bodyComment = $('#comment-new').val();
   $.ajax({
    url: 'http://localhost:3000/photos/comment',
    type: 'post',
    data: { photo_id: photo_id, body: bodyComment },
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    },
    success: function() {
      var newEl = $('<li class="comment">' +
        '<a href="#"><img src="<%= current_user.avatar.url(:face) %>"><%= current_user.full_name %></a>' +
        '<div class="comment-body">' +
        '<p>'+ bodyComment +'</p>' +
        '<p class="comment-meta">' +
        '<span><%= time_ago_in_words(Time.now) %></span>' +
        '</p>' +
        '</div>' +
        '</li>'
        );
     $('#comment-new').val('');
      newEl.hide();
      $('li').last().append(newEl);
      newEl.slideDown();
    }
   });
  });
});
</script>
<% else %>
</div>
<div class="col-md-6">
  <div class="col-md-12">
    <div class="col-md-4 likes group-like">
            <span><%= @photo.likes.count %> Likes </span>
    </div>
    <div class="col-md-4 favorites group-favorite">
            <span><%= @photo.favorites.count %> Favorites</span>
    </div>
     <div class="col-md-4 group-view">
           <span><%= @views %> Views</span>
     </div>
  </div>
</div>
<% end %>